* {
    font-family: "fonte_padrao";
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    /* deixar na horizontal */
    display: flex;
    /* gap espaçamento */
    gap: 20px;
    /* justificar conteudo */
    justify-content: space-between;
    /* tamanho da letra */
    font-size: 18px;

}

#div_banner {
    height: 400px;
}

#img_banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@font-face {
    font-family: "fonte_padrao";
    src: url('../Fontes/Coolvetica\ Rg.otf');
}

#lista_menu li a:hover {
    color: orange;
    font-weight: bold;
}

#titulo_lugares {
    text-align: center;
}

#div_lugares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#div_lugares div {
    padding: 10px;
}

#div_lugares img {
    transition: transform 0.5s ease;
    border-radius: 10px;
}

#div_lugares img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.cor-laranja {
    color: orangered;
}

.cor-laranja{
    color: orange;
    margin-top: 40px;
}
.centralizar{
    text-align: center;
}

#paragrafo {
    text-align: center;
}

#lugares h2{
    text-align: center;
}

section:nth-of-type(n+3){
    margin-top: 8vh;
}

#contanier{
    width: 80vw;
    margin: 0 auto;
}

.lugar-detalhado{
    display: flex;
}

.img-detalhado {
    width: 50%;
    
}

.texto-detalhado{
    width: 50%;
    text-align: center;
    line-height: 1.3rem;
}
.img-detalhado img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px     ;
}

#lugares-detalhados{
    display: flex;
}

.margin-esquerda{
    margin-left: 2vw;
}

.margin-direita{
    margin-right: 2vw;
}


