a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    /* deixar na horizontal */
    display: flex;
    background-color: yellow;
    /* gap espaçamento */
    gap: 20px;
    /* justificar conteudo */
    justify-content: space-between;
    /* tamanho da letra */
    font-size: 18px;

}
